body{
  margin: 0;
  padding: 0;
}

div{
  overflow: visible;
  position: relative;
}

.esquerra{
  float: left;
  clear: left;
}

.dreta{
  float: right;
  clear: right;
}

.pest_esqu{
  border-radius: 100px 0 0 100px;
  transform: rotate(180deg);
}

.cap{
  width: 500px;
  height: 800px;
  background-color: #ffbb99;
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}

.pel{
  height: 200px;
  background-color: #4d0000;
  border-radius: 100px 100px 0px 0px;

}

.ulls{
  height: 300px;
  background-color:;
  border-radius: 50px;
}


.celles{
  height: 20px;
  background-color: ;
  bottom: -20px;
}

.cella{
  width: 200px;
  height: 20px;
  background-color: brown;
  margin: 0 25px;
  border-radius: 20px 0 20px 0px;
}



.pestanyes{
  height: 80px;
  background-color: ;
  margin: 0;
  top: 30px;

}

.pestanya{
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 0 75px;
  border-radius: 50px;

}

.parpelles{
  height: 100px;
  background-color: ;
  margin: 0 75px;
}

.parpella{
  height: 40px;
  width: 80px;
  background-color: ;
  margin: 0;
  border-top: solid #ff9999 20px;
  border-bottom: solid #ff9999 20px;
  border-radius: 50px;
  top:-50px;
}

.pupiles{
  height: 50px;
  background-color:;
}

.pupila{
  height: 25px;
  width: 25px;
  background-color: black;
  margin: 0 102px;
  border-radius: 50px;
  top:-165px;
}


.irisos{
  height: 40px;
  background-color: ;
  margin: 0 245px;
}

.iris{
  height: 40px;
  width: 40px;
  background-color: cyan;
  margin: 0 -150px;
  border-radius: 50px;
  top:-130px;
  box-shadow: 0 0px 7px 0;
}

.orelles{
  height: 90px;
  width: 50px;

}

.orella{
  height: 90px;
  width: 50px;
  background-color: #ffaa80;
  margin-right: -500px;
  margin-left: -50px;
  top: -175px;
  border-radius: 0px 100px 100px 0px;
}

.pendientes{
  height: 20px;
  width: 20px;

}
.pendent{
  height: 20px;
  width: 20px;
  background-color: gray;
  border-radius: 50px;
  top: -550px;
  margin-right: -505px;
  margin-left: -23px;
  box-shadow: 0px 0px 10px 0px;
}

.nas{
  width: 50px;
  height: 70px;
  background-color: #ff8080;
  margin: 30px auto;
  border-radius: 50px 50px 50px 50px;
  top: -160px;

}

.foratnas{
  width: 10px;
  height: 10px;
  background-color: black;
  margin-top: 40px;
  border-radius: 50px 0px 50px 0px;
  transform: rotate(135deg);
}


.boca{
  width: 70px;
  height: 70px;
  background-color: black;
  margin: 90px auto;
  border-radius: 0 50px 0 50px;
  transform: rotate(135deg);
  top: -140px;

  animation-name: boca;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 3;


}

@keyframes boca{


  25%{
    top: 0px;
    left: 0px;
  }
  50%{
    top: 0px;
    left: 0px;
    transform: scale(1) rotate(360deg);

  }
  75%{
    top: 0px;
    left: 0;
  }



}
