@media screen and (max-width:480px){

body{
font-family: Verdana;
margin: 0;
padding: 0;
background-image: url(imagenes/fondoweb.jpg);
}


#barrasuperior{
  background-color: #3399ff;
  color:rgba(48, 171, 217, 0.41);
  overflow: hidden;
  width: 100%;
  height: 80px;

}
#bcn{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;

}


#titol{

  width: 60%;
  height: 100px;
  background-color: ;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;

}


#titol h2{
  padding-top: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  font-family: 'Lato', sans-serif;
}

#titol p{
  padding-top: 5px;
  font-size: 14px;
}

#nav{
  width: 20%;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: ;
  float: left;

}



#logocrisai{
  width: 20%;
  height: 100%;
  background-color:;
  float: left;
  margin: -5px;
  padding: 5px;

}


#logocrisai img{
  width: 100%;
  height: auto;
  background-color:;
  margin: 15px;
  padding: 0;

}

h1{
  margin: 5px;
  padding: 5px;
  text-align: center;
}

p{
  margin: 5px;
  padding: 5px;
}

a{
  color: #FFF;
  text-decoration: none;
}


a:link{
  color: #FFF;
  text-decoration: none;
}


a:active{
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid black;
}


a:visited{
  color: ;
  text-decoration: none;
}


p2{
  font-size: 12px;
}




.check{
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 1;
  width: 30px;
  height: 20px;
  opacity: 0;
}

#nav input{
  width: 50px;
  height: 50px;
  left: 3px;
}



.check:checked ~ #menu{
position: fixed;
left: 0;
transition: 1s;
}

#burguer{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}


#burguer li{
  width: 30px;
  height: 5px;
  background-color: #FFF;
  margin: 10px 0;
}
ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu{
  background-color: rgb(89, 166, 237);
  width: 95%;
  left: -100%;
  position: absolute;
  top: 60px;
  padding-left: 5%;
}

#menu li{
  margin: 10px 0px;
}

#barramedio{
  background-color:;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}




#logos img{
background-color: rgba(51, 153, 255, 0.3);
height: auto;
width: 70%;
margin: 5px;
padding: 30px;
}


#inferior{

    background-color: #3399ff;
    width: 100%;
    height: 15%;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;


  }


.peu{
  background-color: ;
  padding: 0 2px;
  margin: 0 2px;
  width: 31%;
  float: left;
  border-right: solid 1px #000;
}
.ultim{
  border: 0;
}

.peu li{
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 0.5em;
  line-height: 16px;
  overflow: visible;


}

.peu img{
  padding: 0;
  margin: 0;
  width: 80%;
  height: auto;
}

.abaix{
  height: 2%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(46, 113, 176);
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  overflow:hidden;
}

.abaix li{
  float: left;
  margin: 0 5px;
  padding: 0 5px;

  text-align: center;
  font-size: 10px;
  line-height: 14px;

}

#nada{
  border: 0px;
}

#generalitat{
  background-color: ;

  margin-left: 0;
  height: 50px;
  width: 100px;

}

}
