@media screen and (max-width:480px){

body{
font-family: Verdana;
background-image: url('fondoweb.jpg');
background-size: 100%;
background-repeat: repeat;
margin: 0;
padding: 0;
background-color: rgba(48, 171, 217, 0.41);
}


#quisom{

}

#altresllocs{

}

#mesinfo{

}

#barrasuperior{
  background-color: red;
  color:rgba(48, 171, 217, 0.41);
  overflow: hidden;
  width: 100%;
  height: 100px;

}

#titol{
  font-size: Verdana;
  color: #FFF;
  width: 60%;
  height: 100px;
  background-color: ;
  text-align: center;

  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
}
#titol h2{
  padding-top: 20px;
  font-size: 1.1em;
}
#nav{
  width: 20%;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: ;
  float: left;
}



#logocrisai{
  width: 20%;
  height: 50%;
  background-color:;
  float: left;
  margin: 0;
  padding: 0;
}
#logocrisai img{
  width: 80%;
  height: auto;
}

a{
  color: #FFF;
  text-decoration: none;
}

a:link{
  color: #FFF;
  text-decoration: none;
}


a:active{
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid black;
}


a:visited{
  color: #FFF;
  text-decoration: none;
}

p2{
  font-size: 12px;
}




.check{
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 1;
  width: 30px;
  height: 30px;
  opacity: 0;
}

#nav input{
  width: 50px;
  height: 50px;
  left: 3px;
}

.check:checked ~ #menu{
position: fixed;
left: 0;
transition: 1s;
}

#burguer{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}
#burguer li{
  width: 50px;
  height: 5px;
  background-color: #FFF;
  margin: 10px 0;
}
li{
  list-style-type: none;
}

#menu{
  background-color: rgb(89, 166, 237);
  width: 95%;
  left: -100%;
  position: absolute;
  top: 45px;
  padding-left: 5%;
}


#barramedio{
  background-color: green;
  width: 95%;
  height: 360px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5%;
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
}


#logos{
background-color: red;

}

#logos img{
background-color: cyan;

}

}
#barrainferior{
  background-color:blue;
  color:#000;
  width: 100%;
  height: 10%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  overflow: hidden;
  position: absolute;
  bottom: 6%;
}
.peu{
  padding: 0;
  margin: 0 5px;
  width: 30%;
  float: left;
}
.peu li{
  color: #000;
  font-size: 9px;
  line-height: 16px;
  overflow: visible;
  border-right: solid 1px #000;
}
.peu li img{
  padding: 0;
  margin: 0;
  width: 90%;
  height: auto;
}

.abaix{
  height: 4%;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(46, 113, 176);
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

.abaix li{
  display: inline;
  padding-right: 5px;
  border-right: 1px solid black;
  text-align: center;
}

#nada{
  border-right: 0px solid transparent;

}
#generalitat{
  border-right: 0px solid transparent;
  margin-left: -20px;
}

.cookies{
  margin: 0;
  padding: 0;
}
