@media screen and (max-width:480px){

body{
font-family: Verdana;
margin: 0;
padding: 0;
background-color: #FFF;
}


#barrasuperior{
  background-color: #3399ff;
  color:rgba(48, 171, 217, 0.41);
  overflow: hidden;
  width: 100%;
  height: 80px;

}
#bcn{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;

}


#titol{

  width: 60%;
  height: 100px;
  background-color: ;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;

}


#titol h2{
  padding-top: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  font-family: 'Lato', sans-serif;
}

#titol p{
  padding-top: 5px;
  font-size: 14px;
}

#nav{
  width: 20%;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: ;
  float: left;

}



#logocrisai{
  width: 20%;
  height: 100%;
  background-color:;
  float: left;
  margin: -5px;
  padding: 5px;
  margin-left: -30px;

}


#logocrisai img{
  width: 100%;
  height: auto;
  background-color:;
  margin: 15px;
  padding: 0;

}

h1{
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
}

p{
  margin: 5px;
  padding: 5px;
}

a{
  color: #FFF;
  text-decoration: none;
}


a:link{
  color: #FFF;
  text-decoration: none;
}


a:active{
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid black;
}


a:visited{
  color: ;
  text-decoration: none;
}


p2{
  font-size: 12px;
}

#ciutats{
  margin: 10px;
}

.check{
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 1;
  width: 30px;
  height: 20px;
  opacity: 0;
}

#nav input{
  width: 50px;
  height: 50px;
  left: 3px;
}



.check:checked ~ #menu{
position: fixed;
left: 0;
transition: 1s;
}

#burguer{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}


#burguer li{
  width: 30px;
  height: 5px;
  background-color: #FFF;
  margin: 10px 0;
}
ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu{
  background-color: rgb(89, 166, 237);
  width: 95%;
  left: -100%;
  position: absolute;
  top: 60px;
  padding-left: 5%;
}

#menu li{
  margin: 10px 0px;
}

#barramedio{
  background-color:;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
}





#arc1 img{
  height: 280px;
  width: auto;
}

#art1 img{
  height: 400px;
  width: auto;
  margin: 0;
  padding: 0;
}

#parc1 img{
  height: auto;
  width: 380px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}





#cat1 img{
  height: 500px;
  width: auto;
}

#cat2 img{
  height: 200px;
  width: auto;
  padding: 20px;
}





#colom1 img{
  height: 260px;
  width: auto;
  padding: 5px;
  margin: 10px;
}

#leon img{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

#estatua img{
  height: 400px;
  width: auto;
  padding: 5px;
  margin: 50px;
}





#camp img{
  height: 300px;
  width: 100%;
}

#pano img{
  height: 90px;
  width: 100%;
}

#confe img{
  height: 265px;
  width: auto;
  margin: 5px;
  padding: 10px;
}





#hotel img{
  height: 400px;
  width: auto;
  padding: 5px;
  margin: 10px;
}

#hotel_arriba img{
  height: 320px;
  width: 100%;
}


#hotel_todo img{
  height: 320px;
  width: auto;
  margin-left: 60px;
  padding: 10px;
}






#arenas img{
  height: 280px;
  width: auto;
}

#arenas_arriba img{
  height: 250px;
  width: auto;
  margin: 5px;
  padding: 5px;
  margin-left: 15px;
}

#arriba img{
  height: 280px;
  width: auto;
  margin-bottom: 10px;
}





#font img{
  height: 280px;
  width: auto;
}

#parque img{
  height: 250px;
  width: auto;
  margin-left: 20px;
}

#lago img{
  height: 280px;
  width: auto;
  margin-bottom: 15px;
}





#plaza img{
  height: 250px;
  width: auto;
  margin-left: 20px;
}

#bicis img{
  height: 250px;
  width: auto;
  margin-left: 60px;
  margin-top: 10px;
}

#fondo_magenta img{
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}





#rambla_bajo img{
  width: 100%;
  height: auto;
}

#estatuas img{
  width: 180px;
  height: auto;
  margin-left: 3px;
}

#boqueria img{
  width: 100%;
  height: auto;
}

#rambla_sinfondo img{
  width: 95%;
  height: auto;
  margin: 5px;
  padding: 5px;
}






#safa img{
  width: 95%;
  height: auto;
  margin: 5px;
  padding: 5px;
}

#safa_sinfondo img{
  width: 100%;
  height: auto;
}




#logos img{
background-color: rgba(51, 153, 255, 0.3);
height: auto;
width: 70%;
margin: 5px;
padding: 30px;
}


#inferior{

    background-color: #3399ff;
    width: 100%;
    height: 10%;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }


.peu{
  background-color: ;
  padding: 0 2px;
  margin: 0 2px;
  width: 30%;
  float: left;
  border-right: solid 1px #000;
}
.ultim{
  border: 0;
}

.peu li{
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 0.5em;
  line-height: 16px;
  overflow: visible;


}

.peu img{
  padding: 0;
  margin: 0;
  width: 80%;
  height: auto;
}

.abaix{
  height: 2%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(46, 113, 176);
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  overflow:hidden;
}

.abaix li{
  float: left;
  margin: 0 5px;
  padding: 0 5px;
  text-align: center;
  font-size: 10px;
  line-height: 14px;

}

#nada{
  border: 0px;
}

#generalitat{
  background-color: ;
  height: 40px;
  width: 100px;


}

}
